VITE_SUPABASE_URL=https://havgmmmumjrueohodqzs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhhdmdtbW11bWpydWVvaG9kcXpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzNjM1NzIsImV4cCI6MjA5MTkzOTU3Mn0.gYzUjRZuUjuBg9NJ2TeA75mHw3u4Lw0Qo5WvTeN3X_c
