VITE_SUPABASE_URL=https://havgmmmumjrueohodqzs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhhdmdtbW11bWpydWVvaG9kcXpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzNjM1NzIsImV4cCI6MjA5MTkzOTU3Mn0.gYzUjRZuUjuBg9NJ2TeA75mHw3u4Lw0Qo5WvTeN3X_c
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhhdmdtbW11bWpydWVvaG9kcXpzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjM2MzU3MiwiZXhwIjoyMDkxOTM5NTcyfQ.iors2oDKLmnNqGLWGP5hHcS71njv35FWbJ7ReuWmrzU
ZOHO_ACCOUNTS_DOMAIN=https://accounts.zoho.eu
ZOHO_CLIENT_ID=1000.I9MAHX6EZGNLW7UYUJ5L6GIHBUBRPS
ZOHO_CLIENT_SECRET=7a4c98009efc3a8a7de86859f58fdd232a2aaf1759
ZOHO_ORGANIZATION_ID=20092695188
ZOHO_REFRESH_TOKEN=1000.7d7161e6d365059fa671698ed81ca610.2814ab6e0f978c75eadb0bc1d1bf2263
